build

Client/Compiled/imgui.ini
Client/Compiled/VoxelSlash_Client.pdb
Client/Compiled/VoxelSlash_Client.exe

Editor/Compiled/VoxelSlash_Editor.pdb
Editor/Compiled/VoxelSlash_Editor.exe

Shared/Compiled/Shared.pdb
Shared/Compiled/Shared.lib

ServerCode/Compiled/ServerCode.pdb
ServerCode/Compiled/ServerCode.lib

Server/Compiled/VoxelSlash_Server.pdb
Server/Compiled/VoxelSlash_Server.exe